.arrow {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 7rem;
  width: 7rem;
  padding: 1rem;
}
.arrow-img {
  height: 100%;
  width: 100%;
}
.arrow-img--flipped {
  transform: rotate(180deg);
}

@media only screen and (min-width: 50em) {
  .arrow {
    bottom: 15rem;
    right: 15rem;
    height: 9rem;
    width: 9rem;
    padding: 1.5rem;
  }
}
