.arrow {
  position: fixed;
  bottom: 15rem;
  right: 15rem;
  height: 9rem;
  width: 9rem;
  padding: 1.5rem;
}
.arrow-img {
  height: 100%;
  width: 100%;
}
.arrow-img--flipped {
  transform: rotate(180deg);
}
