.header {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: 0;
  font-weight: bold;
  margin-top: 0;
}

.subheader {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.1875rem;
  font-weight: normal;
  margin-top: 0;
}

.subsubheader {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin-top: 0;
}

@media only screen and (min-width: 60rem) {
  .header {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 9rem;
    line-height: 9rem;
    letter-spacing: 0;
    font-weight: bold;
    margin-top: 0;
  }

  .subheader {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.1875rem;
    font-weight: normal;
    margin-top: 0;
  }

  .subsubheader {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    font-size: 2.25rem;
    line-height: 5rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin-top: 0;
  }
}
.bold {
  font-weight: bold !important;
}

.grid--inner {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 3.25rem;
}

.width-1 {
  grid-column: span 1;
}

.width-2 {
  grid-column: span 2;
}

.width-3 {
  grid-column: span 3;
}

.width-4 {
  grid-column: span 4;
}

.width-5 {
  grid-column: span 5;
}

.width-6 {
  grid-column: span 6;
}

.width-7 {
  grid-column: span 7;
}

.width-8 {
  grid-column: span 8;
}

.width-9 {
  grid-column: span 9;
}

.width-10 {
  grid-column: span 10;
}

.width-11 {
  grid-column: span 11;
}

.width-12 {
  grid-column: span 12;
}

@media only screen and (min-width: 60rem) {
  .width-1\@m {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 60rem) {
  .width-2\@m {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 60rem) {
  .width-3\@m {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 60rem) {
  .width-4\@m {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 60rem) {
  .width-5\@m {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 60rem) {
  .width-6\@m {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 60rem) {
  .width-7\@m {
    grid-column: span 7;
  }
}

@media only screen and (min-width: 60rem) {
  .width-8\@m {
    grid-column: span 8;
  }
}

@media only screen and (min-width: 60rem) {
  .width-9\@m {
    grid-column: span 9;
  }
}

@media only screen and (min-width: 60rem) {
  .width-10\@m {
    grid-column: span 10;
  }
}

@media only screen and (min-width: 60rem) {
  .width-11\@m {
    grid-column: span 11;
  }
}

@media only screen and (min-width: 60rem) {
  .width-12\@m {
    grid-column: span 12;
  }
}

.full-width {
  width: 100%;
  object-fit: cover;
}

.img__zoom {
  cursor: pointer;
}

.cs-title {
  margin-top: 25rem;
  margin-bottom: 9rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid black;
}
.cs-title__header {
  margin: 0 0 3rem;
}
.cs-title__subheader {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: 0.1875rem;
  font-weight: normal;
  margin-top: 0;
}
.cs__subheader {
  margin-top: 0;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px black;
}
.cs__subsubheader {
  margin-bottom: 1.5rem;
}
.cs__text {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.75rem;
  line-height: 3.5rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin-top: 0;
}
.cs__text--spacemono {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 1.75rem;
  line-height: 3.5rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin-top: 0;
}
.cs__box {
  border: 0.25rem solid #ffedb7;
  border-radius: 4px;
  padding: 3rem;
  align-self: start;
}
.cs__box p:first-of-type {
  margin-top: 0;
}
.cs__box p:last-of-type {
  margin-bottom: 0;
}
.cs__box--gray {
  border-color: black;
}
.cs__box--center {
  text-align: center;
}
.cs__box--grid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 3.25rem;
}
.cs__space {
  height: 15.5rem;
}
.cs__space--small {
  height: 12rem;
}
.cs__space--v-small {
  height: 10rem;
}
.cs__space--large {
  height: 28rem;
}
.cs__space--0 {
  height: 0rem;
}
.cs__space--1 {
  height: 1rem;
}
.cs__space--2 {
  height: 2rem;
}
.cs__space--3 {
  height: 3rem;
}
.cs__space--4 {
  height: 4rem;
}
.cs__space--5 {
  height: 5rem;
}
.cs__space--6 {
  height: 6rem;
}
.cs__space--7 {
  height: 7rem;
}
.cs__space--8 {
  height: 8rem;
}
.cs__space--9 {
  height: 9rem;
}
.cs__space--10 {
  height: 10rem;
}
.cs__space--11 {
  height: 11rem;
}
.cs__space--12 {
  height: 12rem;
}
.cs__space--13 {
  height: 13rem;
}
.cs__space--14 {
  height: 14rem;
}
.cs__space--15 {
  height: 15rem;
}
.cs__space--16 {
  height: 16rem;
}
.cs-footer a {
  color: black;
}
.cs-footer a:hover {
  color: var(--highlight);
  cursor: url(../img/cursor.svg), auto;
}

@media only screen and (min-width: 60rem) {
  .cs-title {
    margin-top: 35rem;
  }
  .cs-title__subheader {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 0;
  }
  .cs__subheader {
    margin-top: 0;
    margin-bottom: 8rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px black;
  }
  .cs__subsubheader {
    margin-bottom: 5rem;
  }
  .cs__text {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.25rem;
    line-height: 5rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin-top: 0;
  }
  .cs__text--spacemono {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    font-size: 2.25rem;
    line-height: 5rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin-top: 0;
  }
  .cs__text--spacemono.bold {
    font-weight: bold;
  }
  .cs__text.bold {
    font-weight: bold;
  }
}

/*# sourceMappingURL=cs.css.map */
