.header {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 9rem;
  line-height: 9rem;
  letter-spacing: 0;
  font-weight: bold;
  margin-top: 0;
}

.subheader {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.1875rem;
  font-weight: normal;
  margin-top: 0;
}

.subsubheader {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin-top: 0;
}

.grid--inner {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 3.25rem;
}

.width-1 {
  grid-column: span 1;
}

.width-2 {
  grid-column: span 2;
}

.width-3 {
  grid-column: span 3;
}

.width-4 {
  grid-column: span 4;
}

.width-5 {
  grid-column: span 5;
}

.width-6 {
  grid-column: span 6;
}

.width-7 {
  grid-column: span 7;
}

.width-8 {
  grid-column: span 8;
}

.width-9 {
  grid-column: span 9;
}

.width-10 {
  grid-column: span 10;
}

.width-11 {
  grid-column: span 11;
}

.width-12 {
  grid-column: span 12;
}

@media only screen and (min-width: 60rem) {
  .width-1\@m {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 60rem) {
  .width-2\@m {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 60rem) {
  .width-3\@m {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 60rem) {
  .width-4\@m {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 60rem) {
  .width-5\@m {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 60rem) {
  .width-6\@m {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 60rem) {
  .width-7\@m {
    grid-column: span 7;
  }
}

@media only screen and (min-width: 60rem) {
  .width-8\@m {
    grid-column: span 8;
  }
}

@media only screen and (min-width: 60rem) {
  .width-9\@m {
    grid-column: span 9;
  }
}

@media only screen and (min-width: 60rem) {
  .width-10\@m {
    grid-column: span 10;
  }
}

@media only screen and (min-width: 60rem) {
  .width-11\@m {
    grid-column: span 11;
  }
}

@media only screen and (min-width: 60rem) {
  .width-12\@m {
    grid-column: span 12;
  }
}

.full-width {
  width: 100%;
  object-fit: cover;
}

/******************************************************************************
 * CASE STUDIES SECTION
******************************************************************************/
.case-studies {
  grid-row: 1/2;
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-weight: normal;
  margin-top: 16.5rem;
}
.case-studies__title {
  font-family: inherit;
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: inherit;
  margin-bottom: 3rem;
}

.case-study {
  padding: 1rem;
  font-size: 4rem;
  line-height: 4.75rem;
  margin-left: -1rem;
  margin-bottom: 7rem;
  font-weight: inherit;
  cursor: pointer;
}
.case-study a {
  color: black;
  text-decoration: none;
}
.case-study:last-of-type {
  margin-bottom: 0;
}
.case-study span:hover {
  color: white;
  background-color: var(--highlight);
}

@media only screen and (min-width: 60rem) {
  .case-studies {
    grid-column: 2/span 8;
    margin-top: 33rem;
  }
  .case-studies__title {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    font-size: 2.25rem;
    line-height: 3.25rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }

  .case-study {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    font-size: 4rem;
    line-height: 7rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    margin-top: 0;
  }
}
/******************************************************************************
 * SPACE BETWEEN CASE STUDIES AND INFO SECTION
******************************************************************************/
.space {
  grid-row: 2/3;
  height: 7rem;
}

@media only screen and (min-width: 60rem) {
  .space {
    grid-column: 1/-1;
    height: 11rem;
  }
}
/******************************************************************************
 * INFO SECTION
******************************************************************************/
.info {
  grid-row: 3/4;
  font-weight: unset;
}
.info__title {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 0 0 4rem 0;
  font-weight: inherit;
}
.info__paragraph {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: inherit;
  line-height: 4rem;
  margin: 0;
}
.info__paragraph--underline {
  text-decoration: underline;
}
.info__image {
  display: none;
}

@media only screen and (min-width: 60rem) {
  .info {
    grid-column: 2/-2;
    margin-bottom: 0;
  }
  .info__title {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
  .info__paragraph {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.25rem;
    line-height: 6rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 3.25rem;
    height: 500px;
  }
  .info__paragraph p {
    grid-column: 1/span 6;
  }
  .info__paragraph p:hover + .info__image {
    opacity: 1;
  }
  .info__image {
    opacity: 0;
    transition: all 200ms ease-in-out;
    grid-column: 7/span 4;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}
/******************************************************************************
 * SPACE BETWEEN CASE STUDIES AND INFO SECTION
******************************************************************************/
.space--two {
  grid-row: 4/5;
  height: 9rem;
}

@media only screen and (min-width: 60rem) {
  .space--two {
    grid-column: 1/-1;
    height: 11rem;
  }
}
/******************************************************************************
 * EXPERIENCE SECTION
******************************************************************************/
.experiences {
  grid-row: 5/6;
}
.experiences__title {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 0 0 4rem 0;
  font-weight: inherit;
}
.experiences__resume-link {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 2.25rem;
  line-height: 3rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin-top: 0;
  text-decoration: none;
  color: black;
}
.experiences__resume-link:hover {
  background-color: var(--highlight);
  color: white;
}

.experience {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: inherit;
  line-height: 3rem;
  margin-bottom: 3rem;
}
.experience p {
  margin: 0;
}
.experience--three {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 60rem) {
  .experiences {
    grid-column: 2/7;
  }
  .experiences__title {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
  .experiences__resume-link {
    font-family: "Space Mono", "Courier New", Courier, monospace;
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin-top: 0;
  }

  .experience {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.25rem;
    line-height: 4rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .experience--three {
    margin-bottom: 11rem;
  }
}

/*# sourceMappingURL=home.css.map */
