.grid--inner {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 3.25rem;
}

.width-1 {
  grid-column: span 1;
}

.width-2 {
  grid-column: span 2;
}

.width-3 {
  grid-column: span 3;
}

.width-4 {
  grid-column: span 4;
}

.width-5 {
  grid-column: span 5;
}

.width-6 {
  grid-column: span 6;
}

.width-7 {
  grid-column: span 7;
}

.width-8 {
  grid-column: span 8;
}

.width-9 {
  grid-column: span 9;
}

.width-10 {
  grid-column: span 10;
}

@media only screen and (min-width: 60em) {
  .width-1\@m {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 60em) {
  .width-2\@m {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 60em) {
  .width-3\@m {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 60em) {
  .width-4\@m {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 60em) {
  .width-5\@m {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 60em) {
  .width-6\@m {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 60em) {
  .width-7\@m {
    grid-column: span 7;
  }
}

@media only screen and (min-width: 60em) {
  .width-8\@m {
    grid-column: span 8;
  }
}

@media only screen and (min-width: 60em) {
  .width-9\@m {
    grid-column: span 9;
  }
}

@media only screen and (min-width: 60em) {
  .width-10\@m {
    grid-column: span 10;
  }
}

.full-width {
  width: 100%;
  object-fit: cover;
}

.cs__header {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: 0.1875rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5.5rem;
  padding-bottom: 3rem;
  border-bottom: solid 1px black;
}
.cs__subheader {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5rem;
}
.cs__text {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.75rem;
  line-height: 6rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin: 0;
}
.cs__text--spacemono {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 3rem;
  line-height: 6rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin: 0;
}
.cs__box {
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 3rem;
  align-self: start;
}

.cs-title {
  margin-top: 20rem;
  margin-bottom: 9rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid black;
}
.cs-title__header {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 0 3rem;
  font-size: 6rem;
  font-weight: bold;
  line-height: 6rem;
}
.cs-title__subheader {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: 3rem;
  line-height: 4.5rem;
  letter-spacing: 0.1875rem;
  font-weight: normal;
  margin: 0;
}

@media only screen and (min-width: 60em) {
  .cs-title {
    margin-top: 35rem;
    grid-column: 2/-2;
  }
  .cs-title__header {
    font-size: 9rem;
    line-height: 9rem;
  }
  .cs-title__subheader {
    font-size: 4rem;
    line-height: 5rem;
  }
}
.overview {
  grid-column: 1/-1;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffedb7;
  padding-left: 3rem;
  padding-right: 3rem;
}
.overview__picture {
  grid-column: 1/-1;
}
.overview__texts {
  grid-column: 1/-1;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  line-height: 6rem;
  letter-spacing: 0.0625rem;
}

@media only screen and (min-width: 60em) {
  .overview {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .overview__picture {
    grid-column: 2/span 4;
  }
  .overview__picture img {
    width: 100%;
  }
  .overview__texts {
    align-self: center;
    grid-column: 7/-2;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.75rem;
    line-height: 6rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin: 0;
  }
}
@media only screen and (min-width: 60em) {
  .summary {
    margin-top: 14.5rem;
    margin-bottom: 16rem;
  }
  .summary__question {
    grid-column: 2/span 8;
    margin: 0;
    font-family: "Space Mono", "Courier New", Courier, monospace;
    font-size: 3rem;
    line-height: 6rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin: 0;
  }
  .summary__points {
    grid-column: 4/-2;
    margin-top: 9rem;
  }
  .summary__point {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    border-radius: 4px;
    border: solid 1px #979797;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.75rem;
    line-height: 5rem;
    letter-spacing: 0.06875rem;
    font-weight: normal;
    margin: 0;
  }
  .summary__point:not(:last-of-type) {
    margin-bottom: 6rem;
  }
}
.research__description {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.75rem;
  line-height: 5rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 3rem;
}
.research .space {
  height: 15.5rem;
}
.research__box {
  padding: 3rem;
  border-radius: 4px;
  border: solid 4px #ffedb7;
}
.research__box-text {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.75rem;
  line-height: 6rem;
  letter-spacing: 0.06875rem;
  font-weight: normal;
  margin: 0;
}
.research__box-text:not(:last-of-type) {
  margin-bottom: 2rem;
}
.research__images {
  position: relative;
  height: 100%;
  margin-bottom: 53.125rem;
}
.research__image {
  width: 80%;
  position: absolute;
}
.research__image--two {
  z-index: 2;
}
.research__image--three {
  z-index: 1;
  top: 9rem;
  left: 20%;
}

/*# sourceMappingURL=lantern-trips.css.map */
