@import './media-query';

$roboto: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$spacemono: 'Space Mono', 'Courier New', Courier, monospace;

@mixin paragraph($ff: $roboto, $fs: 2.25rem, $lh: 5rem, $ls: 0.06875rem, $fw: normal) {
  font-family: $ff;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  font-weight: $fw;
  margin-top: 0;
}

.header {
  // size: 72, type: Roboto Bold, line-height: 72, letter spacing: 0
  @include paragraph($roboto, $fs: 6rem, $lh: 6rem, $fw: bold, $ls: 0);
}

.subheader {
  // size: 24, type: Space Mono Regular, line-height: 40, letter spacing: 1.5
  @include paragraph($spacemono, $fs: 2rem, $lh: 3.4rem, $ls: 0.1875rem);
}

.subsubheader {
  // size: 24, type: Space Mono Regular, line-height: 40, letter spacing: .55
  @include paragraph($spacemono, $fs: 2rem, $lh: 3.4rem, $ls: 0.06875rem);
}

@include mq() {
  .header {
    // size: 72, type: Roboto Bold, line-height: 72, letter spacing: 0
    @include paragraph($roboto, $fs: 9rem, $lh: 9rem, $fw: bold, $ls: 0);
  }

  .subheader {
    // size: 24, type: Space Mono Regular, line-height: 40, letter spacing: 1.5
    @include paragraph($spacemono, $fs: 3rem, $lh: 5rem, $ls: 0.1875rem);
  }

  .subsubheader {
    // size: 24, type: Space Mono Regular, line-height: 40, letter spacing: .55
    @include paragraph($spacemono, $fs: 2.25rem, $lh: 5rem, $ls: 0.06875rem);
  }
}

.bold {
  font-weight: bold !important;
}
