@import './media-query';

.grid--inner {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 3.25rem;
}

.width-1 {
  grid-column: span 1;
}

.width-2 {
  grid-column: span 2;
}

.width-3 {
  grid-column: span 3;
}

.width-4 {
  grid-column: span 4;
}

.width-5 {
  grid-column: span 5;
}

.width-6 {
  grid-column: span 6;
}

.width-7 {
  grid-column: span 7;
}

.width-8 {
  grid-column: span 8;
}

.width-9 {
  grid-column: span 9;
}

.width-10 {
  grid-column: span 10;
}

.width-11 {
  grid-column: span 11;
}

.width-12 {
  grid-column: span 12;
}

.width-1\@m {
  @include mq() {
    grid-column: span 1;
  }
}

.width-2\@m {
  @include mq() {
    grid-column: span 2;
  }
}

.width-3\@m {
  @include mq() {
    grid-column: span 3;
  }
}

.width-4\@m {
  @include mq() {
    grid-column: span 4;
  }
}

.width-5\@m {
  @include mq() {
    grid-column: span 5;
  }
}

.width-6\@m {
  @include mq() {
    grid-column: span 6;
  }
}

.width-7\@m {
  @include mq() {
    grid-column: span 7;
  }
}

.width-8\@m {
  @include mq() {
    grid-column: span 8;
  }
}

.width-9\@m {
  @include mq() {
    grid-column: span 9;
  }
}

.width-10\@m {
  @include mq() {
    grid-column: span 10;
  }
}

.width-11\@m {
  @include mq() {
    grid-column: span 11;
  }
}

.width-12\@m {
  @include mq() {
    grid-column: span 12;
  }
}
