@import './media-query';

.arrow {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 7rem;
  width: 7rem;
  padding: 1rem;

  &-img {
    height: 100%;
    width: 100%;

    &--flipped {
      transform: rotate(180deg);
    }
  }
}

@include mq() {
  .arrow {
    bottom: 15rem;
    right: 15rem;
    height: 9rem;
    width: 9rem;
    padding: 1.5rem;
  }
}
