@import './general';

.cs {
  &-title {
    margin-top: 25rem;
    margin-bottom: 9rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid black;

    &__header {
      margin: 0 0 3rem;
    }

    &__subheader {
      @include paragraph($spacemono, $fs: 3rem, $lh: 4.5rem, $ls: 0.1875rem);
    }
  }

  &__subheader {
    margin-top: 0;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px black;
  }

  &__subsubheader {
    margin-bottom: 1.5rem;
  }

  &__text {
    // @include paragraph($lh: 5rem);
    @include paragraph($fs: 1.75rem, $lh: 3.5rem);

    &--spacemono {
      @include paragraph($spacemono, $fs: 1.75rem, $lh: 3.5rem);
    }
  }

  &__box {
    @include box;

    &--gray {
      border-color: rgb(151, 151, 151);
    }
  }

  &__space {
    height: 15.5rem;

    &--small {
      height: 12rem;
    }

    &--v-small {
      height: 10rem;
    }

    &--large {
      height: 28rem;
    }

    @mixin spaces() {
      @for $i from 0 through 16 {
        &--#{$i} {
          height: #{$i}rem;
        }
      }
    }
    @include spaces();
  }

  &-footer {
    a {
      color: black;

      &:hover {
        background: var(--highlight);
      }
    }
    .arrow-next {
      margin-left: 3rem;
      width: 3rem;
      transform: rotate(-90deg);
    }
  }
}

@include mq() {
  .cs {
    &-title {
      margin-top: 35rem;

      &__subheader {
        font-size: 4rem;
        line-height: 5rem;
        margin-bottom: 0;
      }
    }

    &__subheader {
      margin-top: 0;
      margin-bottom: 8rem;
      padding-bottom: 2rem;
      border-bottom: solid 1px black;
    }
  
    &__subsubheader {
      margin-bottom: 5rem;
    }

    &__text {
      @include paragraph($lh: 5rem);

      &--spacemono {
        @include paragraph($spacemono);

        &.bold {
          font-weight: bold;
        }
      }

      &.bold {
        font-weight: bold;
      }
    }
  }
}
