@import './general';

.cs {
  &__subheader {
    margin-top: 0;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px black;

    .bold {
      font-weight: bold;
    }
  }

  &__subsubheader {
    margin-bottom: 5rem;

    .bold {
      font-weight: bold;
    }
  }

  &__text {
    @include paragraph($lh: 5rem);

    &--spacemono {
      @include paragraph($spacemono);

      &.bold {
        font-weight: bold;
      }
    }

    &.bold {
      font-weight: bold;
    }
  }

  &__box {
    @include box;

    &--gray {
      border-color: rgb(151, 151, 151);
    }
  }

  &__space {
    height: 15.5rem;

    &--small {
      height: 12rem;
    }

    &--v-small {
      height: 10rem;
    }

    &--large {
      height: 28rem;
    }

    @mixin spaces() {
      @for $i from 0 through 16 {
        &--#{$i} {
          height: #{$i}rem;
        }
      }
    }
    @include spaces();
  }

  &-footer {
    a {
      color: black;

      &:hover {
        background: var(--highlight);
      }
    }
    .arrow-next {
      margin-left: 3rem;
      width: 3rem;
      transform: rotate(-90deg);
    }
  }
}
