@import './general';

.cs {
  &__header {
    @include paragraph($spacemono, $fs: 4rem, $lh: 4.5rem, $ls: 0.1875rem);
    margin-bottom: 5.5rem;
    padding-bottom: 3rem;
    border-bottom: solid 1px black;

    .bold {
      font-weight: bold;
    }
  }

  &__subheader {
    @include paragraph($spacemono, $fs: 3rem, $lh: 5rem, $ls: 0.06875rem);
    margin-bottom: 5rem;

    .bold {
      font-weight: bold;
    }
  }

  &__text {
    @include paragraph($lh: 5rem);

    &--spacemono {
      @include paragraph($spacemono, $fs: 3rem, $lh: 5rem, $ls: 0.06875rem);

      &.bold {
        font-weight: bold;
      }
    }

    &.bold {
      font-weight: bold;
    }
  }

  &__box {
    @include box;

    &--gray {
      border-color: rgb(151, 151, 151);
    }

    &--thick {
      border-width: 0.5rem;
    }

    &--v-thick {
      border-width: 1rem;
    }
  }

  &__space {
    height: 15.5rem;

    &--small {
      height: 12rem;
    }

    &--large {
      height: 28rem;
    }
  }

  &-footer {
    &__link {
      @include paragraph($spacemono, $fs: 5rem, $lh: 5rem, $ls: 0.1875rem);
      height: 31rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
