@import './general';

.footer {
  padding: 0 3rem;
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  border-top: 1px solid black;

  &__greeting {
    margin: 0 0 6rem 0;
    font-family: $roboto;
    font-size: 2rem;
    line-height: 3rem;
  }

  &__copyright {
    font-family: $spacemono;
    font-size: 2rem;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
    margin: 5rem 0 0 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-family: $spacemono;
    font-size: 2rem;
    font-weight: normal;
    text-decoration: none;
    line-height: 3rem;
    color: black;
    margin-bottom: 2rem;
  }

  &__link:last-of-type {
    margin-bottom: 0;
  }
}

@include mq() {
  .footer {
    height: 12rem;
    margin-top: 10rem;
    padding: 0;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-column: 2 / -2;
    }

    &__greeting {
      @include paragraph($spacemono, $fs: 2.25rem, $lh: 3rem);
      margin: 0;
    }

    &__copyright {
      @include paragraph($spacemono, $fs: 2.25rem, $lh: 3rem);
      margin: 0;
    }

    &__links {
      flex-direction: row;
      align-items: center;
    }

    &__link {
      @include paragraph($spacemono, $fs: 2.25rem, $lh: 3rem);
      text-decoration: none;
      color: black;
      margin-bottom: 0;
      margin-right: 8rem;
    }

    &__link:last-of-type {
      margin-right: 0;
    }
  }
}
