@import './general';

@mixin box($color: rgb(255, 237, 183)) {
  border: 1px solid $color;
  border-radius: 4px;
  padding: 3rem;
  align-self: start;
}

.cs {
  &__header {
    @include paragraph($spacemono, $fs: 4rem, $lh: 4.5rem, $ls: 0.1875rem);
    margin-bottom: 5.5rem;
    padding-bottom: 3rem;
    border-bottom: solid 1px black;

    .bold {
      font-weight: bold;
    }
  }

  &__subheader {
    @include paragraph($spacemono, $fs: 3rem, $lh: 5rem, $ls: 0.06875rem);
    margin-bottom: 5rem;

    .bold {
      font-weight: bold;
    }
  }

  &__text {
    @include paragraph($lh: 5rem);

    &--spacemono {
      @include paragraph($spacemono, $fs: 3rem, $lh: 5rem, $ls: 0.06875rem);

      &.bold {
        font-weight: bold;
      }
    }

    &.bold {
      font-weight: bold;
    }
  }

  &__box {
    @include box;

    &--gray {
      border-color: rgb(151, 151, 151);
    }

    &--thick {
      border-width: .5rem;
    }
    
    &--v-thick {
      border-width: 1rem;
    }
  }

  &__space {
    height: 15.5rem;

    &--small {
      height: 12rem;
    }
    
    &--large {
      height: 28rem;
    }
  }

  &-footer {
    &__link {
      @include paragraph($spacemono, $fs: 5rem, $lh: 5rem, $ls: .1875rem);
      height: 31rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.cs-title {
  margin-top: 20rem;
  margin-bottom: 9rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid black;

  &__header {
    font-family: $roboto;
    margin: 0 0 3rem;
    font-size: 6rem;
    font-weight: bold;
    line-height: 6rem;
  }

  &__subheader {
    @include paragraph($spacemono, $fs: 3rem, $lh: 4.5rem, $ls: 0.1875rem);
  }
}

@include mq() {
  .cs-title {
    margin-top: 35rem;
    grid-column: 2 / -2;

    &__header {
      font-size: 9rem;
      line-height: 9rem;
    }

    &__subheader {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}

.overview {
  grid-column: 1 / -1;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: rgb(255, 237, 183);
  padding-left: 3rem;
  padding-right: 3rem;

  &__picture {
    grid-column: 1 / -1;
  }

  &__texts {
    grid-column: 1 / -1;
    font-family: $roboto;
    font-size: 3rem;
    line-height: 6rem;
    letter-spacing: 0.0625rem;
  }
}

@include mq() {
  .overview {
    padding-left: 0rem;
    padding-right: 0rem;

    &__picture {
      grid-column: 2 / span 4;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }

    &__texts {
      align-self: center;
      grid-column: 6 / -2;
      @include paragraph();
    }
  }
}

.summary {
}

@include mq() {
  .summary {
    margin-top: 14.5rem;
    margin-bottom: 16rem;

    &__question {
      grid-column: 2 / span 8;
      margin: 0;
      @include paragraph($spacemono, $fs: 3rem);
    }

    &__points {
      grid-column: 4 / -2;
      margin-top: 9rem;
    }

    &__point {
      margin: 0;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 5rem;
      border-radius: 4px;
      border: solid 1px rgb(151, 151, 151);
      @include paragraph($lh: 5rem);

      @include all-but-last {
        margin-bottom: 6rem;
      }
    }
  }
}

.research {
  &__description {
    @include paragraph($lh: 5rem);
    margin-bottom: 3rem;
  }

  // &__image {
  //   width: 100%;
  // }

  .space {
    height: 15.5rem;
    &--small {
      height: 12rem;
    }
  }

  &__box {
    // align-self: start;
    padding: 3rem;
    border-radius: 4px;
    border: solid 4px rgb(255, 237, 183);
    margin-bottom: 9rem;
    &-text {
      @include paragraph;

      @include all-but-last {
        margin-bottom: 2rem;
      }
    }
  }

  &__images {
    position: relative;
  }

  &__image {
    width: 80%;

    &--two {
    }

    &--three {
      position: absolute;
      z-index: -1;

      top: 9rem;
      left: 20%;
    }
  }
}

@include mq() {
  .research {
    &__box {
      margin-bottom: 53.125rem;
    }
  }
}

.findings {
  margin-bottom: 5rem;

  &--last {
    margin-bottom: 0;
  }

  &__point {
    @include all-but-last {
      margin-bottom: 2rem;
    }
  }
}

.dnd {
  &__header {
    margin-bottom: 10rem;
  }
}