@import './general';

.cs-title {
  margin-top: 20rem;
  margin-bottom: 9rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid black;

  &__header {
    font-family: $roboto;
    margin: 0 0 3rem;
    font-size: 6rem;
    font-weight: bold;
    line-height: 6rem;
  }

  &__subheader {
    font-family: $spacemono;
    font-size: 3rem;
    font-weight: normal;
    line-height: 4.5rem;
    letter-spacing: 0.1875rem;
    margin: 0;
  }
}

@include mq() {
  .cs-title {
    margin-top: 35rem;
    grid-column: 2 / -2;

    &__header {
      font-size: 9rem;
      line-height: 9rem;
    }

    &__subheader {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}

.overview {
  grid-column: 1 / -1;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: rgb(255, 237, 183);
  padding-left: 3rem;
  padding-right: 3rem;

  &__picture {
    grid-column: 1 / -1;
  }

  &__texts {
    grid-column: 1 / -1;
    font-family: $roboto;
    font-size: 3rem;
    line-height: 6rem;
    letter-spacing: 0.0625rem;
  }
}

@include mq() {
  .overview {
    padding-left: 0rem;
    padding-right: 0rem;

    &__picture {
      grid-column: 2 / span 4;

      img {
        width: 100%;
      }
    }

    &__texts {
      align-self: center;
      grid-column: 7 / -2;
      font-family: $roboto;
      font-size: 2.75rem;
      line-height: 6rem;
      letter-spacing: 0.0625rem;
    }
  }
}

.summary {
}

@include mq() {
  .summary {
    margin-top: 14.5rem;

    &__question {
      grid-column: 2 / span 8;
      margin: 0;
      font-family: $spacemono;
      font-size: 3rem;
      line-height: 6rem;
      letter-spacing: 0.06875rem;
    }

    &__points {
      grid-column: 4 / -2;
      margin-top: 9rem;
    }

    &__point {
      margin: 0;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 5rem;
      border-radius: 4px;
      border: solid 1px rgb(151, 151, 151);
      font-family: $roboto;
      font-size: 2.75rem;
      line-height: 5rem;
      letter-spacing: 0.0625rem;

      &:not(:last-of-type) {
        margin-bottom: 6rem;
      }
    }
  }
}
